@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,700|Raleway:400,400i,600&subset=cyrillic');

$os: 'Open Sans', sans-serif;
$ral: 'Raleway', sans-serif;
$mont: 'Montserrat', sans-serif;

$regular: 400;
$bold: 700;
$sbold: 600;